/* .tabs-md .tab-button[aria-selected=true] .tab-button-icon  {
    color: #3F51B5;
}
ion-tabs {
    color: #3F51B5;
}
 */
.tabs-md .tab-button-text {
    font-size: 14px !important;
    font-weight: 600;
}