<ion-header>
  <ion-navbar>
    <ion-buttons left>
        <img src="assets/imgs/firegate-ic.png" width="55%" style="padding-left:13px;" />    
    </ion-buttons>
    <ion-title center>Home</ion-title>
    <ion-buttons end>
        <button ion-button (click)="showlogin()" *ngIf="!loggedIn" color="light">
          <ion-icon name="log-in"></ion-icon>
        </button> 
        <button ion-button (click)="logout()" *ngIf="loggedIn" color="light">
          <ion-icon name="power"></ion-icon> 
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="app">
    <ion-fab right bottom>
    <button ion-fab (click)="adhocentry()" color="secondary"><ion-icon name="add"></ion-icon></button>
   </ion-fab>

   <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="Search($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <div *ngIf="myInput" >
    <ion-card *ngFor="let item of search">    
      <ion-item>
        <ion-thumbnail item-start>
          <img src="http://forevr.in/{{item.pic |slice:31}}" imageViewer *ngIf="item.pic != null; else noImageTemplate">
          <ng-template #noImageTemplate>
            <img src="assets/imgs/no-img.png" imageViewer>
          </ng-template>
        </ion-thumbnail>
        <ion-row>
           <ion-col col-12>
              <span col-2 style="font-size:12px; color: #888; font-weight:400; text-transform: uppercase;"> Name &nbsp;&nbsp;&nbsp;: </span> 
              <span col-10 text-wrap style="font-size:16px; font-weight:600; ">{{item.name}}</span><br/>
              <span col-8 style="font-size:12px; color: #888; font-weight:400; text-transform: uppercase;">Mobile :</span>
              <span col-10 style="font-size:16px; font-weight:600; text-overflow: ellipsis;">{{item.mobile}}</span>
            </ion-col>
        </ion-row><hr />        
        <button ion-button  outline small color="accent" (click)="Logout(item.id)">Exit Visitor &nbsp;<ion-icon name="exit" ios="ios-exit" md="md-exit"></ion-icon></button>
      </ion-item>
    </ion-card> 
  </div>   
  <!-------------search ------------------> 
  <!-------------list ------------------>
  <ion-card  *ngFor="let adoc of adhocs; let i = index">
      <div class="userlist" *ngIf="!myInput">
        <ion-list>
          <ion-item class="list">
            <ion-thumbnail item-start>
              <img src="http://forevr.in/{{adoc.pic |slice:31}}" imageViewer *ngIf="adoc.pic != null; else noImageTemplate">
              <ng-template #noImageTemplate>
                <img src="assets/imgs/no-img.png" imageViewer>
              </ng-template>
            </ion-thumbnail>
            <ion-row>
                <ion-col col-12>
                  <span col-2 style="font-size:12px; color: #888; font-weight:400; text-transform: uppercase;"> Name &nbsp;&nbsp;&nbsp;: </span> 
                  <span col-10 text-wrap style="font-size:16px; font-weight:600; ">{{adoc.name}}</span><br/>
                  <span col-8 style="font-size:12px; color: #888; font-weight:400; text-transform: uppercase;">Mobile :</span>
                  <span col-10 style="font-size:16px; font-weight:600; text-overflow: ellipsis;">{{adoc.mobile}}</span>
                </ion-col>
            </ion-row><hr />
            <button ion-button style="margin-left:10px;" outline small color="accent" (click)="Logout(adoc.id)" >Exit Visitor &nbsp;&nbsp;<ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
              </ion-item> 
        </ion-list>
      </div> 
  </ion-card>
</ion-content>
